### well structured - an ode to databases

# data preparation

### import libraries

In [102]:
import sqlite3
import pandas as pd
import numpy as np

## handling missing values

### create table brexit_progress

In [103]:
conn = sqlite3.connect('brexit.db')
c = conn.cursor()

sql = "CREATE TABLE brexit_progress (id_brexit_progress INTEGER PRIMARY KEY AUTOINCREMENT, start DATE, end DATE, description VARCHAR(255), updated DATE)"
c.execute(sql)

brexit_progresses = [[2008, 2015, 'before referendum', 'date()'],[2016, 2020, 'before brexit', 'date()'],[2021, 2022, 'after brexit', 'date()']]
for brexit_progress in brexit_progresses:
    sql = "INSERT INTO brexit_progress (start, end, description, updated) VALUES (" + str(brexit_progress[0]) + "," + str(brexit_progress[1]) + ",'" + str(brexit_progress[2]) + "'," + str(brexit_progress[3]) + ")"
    c.execute(sql) 

conn.commit()
conn.close()

### modify table economic-growth

In [104]:
conn = sqlite3.connect('brexit.db')
c = conn.cursor()

sql = "ALTER TABLE `economic-growth` ADD COLUMN f_id_brexit_progress"
c.execute(sql)

sql = "ALTER TABLE `economic-growth` ADD COLUMN updated"
c.execute(sql)

sql = "ALTER TABLE migration ADD f_id_brexit_progress"
c.execute(sql)

sql = "ALTER TABLE migration ADD updated"
c.execute(sql)

sql = "UPDATE `economic-growth` SET f_id_brexit_progress = 0, updated = datetime() WHERE Jahr = 2007"
c.execute(sql) 

sql = "UPDATE `economic-growth` SET f_id_brexit_progress = 1, updated = datetime() WHERE Jahr > 2007"
c.execute(sql)

sql = "UPDATE `economic-growth` SET f_id_brexit_progress = 2, updated = datetime() WHERE Jahr > 2016"
c.execute(sql)

sql = "UPDATE `economic-growth` SET f_id_brexit_progress = 3, updated = datetime() WHERE Jahr > 2020"
c.execute(sql)

sql = "UPDATE migration SET f_id_brexit_progress = 0, updated = datetime() WHERE Year = 2007"
c.execute(sql)

sql = "UPDATE migration SET f_id_brexit_progress = 1, updated = datetime() WHERE Year > 2007"
c.execute(sql)

sql = "UPDATE migration SET f_id_brexit_progress = 2, updated = datetime() WHERE Year > 2016"
c.execute(sql)

sql = "UPDATE migration SET f_id_brexit_progress = 3 , updated = datetime() WHERE Year > 2020"
c.execute(sql)

sql = "ALTER TABLE `economic-growth` DROP COLUMN `EU-27`"
c.execute(sql)

sql = "ALTER TABLE `economic-growth` RENAME COLUMN Jahr TO year"
c.execute(sql)

sql = "ALTER TABLE `economic-growth` RENAME COLUMN Germany TO germany"
c.execute(sql)

sql = "ALTER TABLE `economic-growth` RENAME COLUMN `United Kingdom` TO united_kingdom"
c.execute(sql)

sql = "ALTER TABLE `economic-growth` RENAME TO economic_growth"
c.execute(sql)

sql = "ALTER TABLE migration RENAME COLUMN Year TO year"
c.execute(sql)

sql = "ALTER TABLE migration RENAME COLUMN Immigration TO immigration"
c.execute(sql)

sql = "ALTER TABLE migration RENAME COLUMN Emigration TO emigration"
c.execute(sql)

conn.commit()
conn.close()

## create tables lin_reg_migration and lin_reg_economic_growth

In [105]:
conn = sqlite3.connect('brexit.db')
c = conn.cursor()

sql = "CREATE TABLE lin_reg_migration (id_lin_reg_migration INTEGER PRIMARY KEY AUTOINCREMENT, f_id_brexit_progress INT(10), avg_year DATE, avg_immigration INT(255), avg_emigration INT(255), b_year_immigration INT(10), b_year_emigration INT(10), a_year_immigration INT(10), a_year_emigration INT(10), updated TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP)"
c.execute(sql)

sql = "CREATE TABLE lin_reg_economic_growth (id_lin_reg_economic_growth INTEGER PRIMARY KEY AUTOINCREMENT, f_id_brexit_progress INT(10), avg_year DATE, avg_germany INT(255), avg_united_kingdom INT(255), b_year_germany INT(10), b_year_united_kingdom INT(10), a_year_germany INT(10), a_year_united_kingdom INT(10), updated TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP)"
c.execute(sql)

conn.commit()
conn.close()