### well structured - an ode to databases

# linear regression

### import libraries

In [192]:
import sqlite3
import pandas as pd

### insert avarage values in lin_reg_migration and lin_reg_economic_growth

In [203]:
conn = sqlite3.connect('brexit.db')

c = conn.cursor()
sql = "INSERT INTO lin_reg_migration (f_id_brexit_progress, avg_year, avg_immigration, avg_emigration) SELECT f_id_brexit_progress, AVG(year), AVG(immigration), AVG(emigration) FROM migration WHERE f_id_brexit_progress = 1"
c.execute(sql)

sql = "INSERT INTO lin_reg_migration (f_id_brexit_progress, avg_year, avg_immigration, avg_emigration) SELECT f_id_brexit_progress, AVG(year), AVG(immigration), AVG(emigration) FROM migration WHERE f_id_brexit_progress = 2"
c.execute(sql)

sql = "INSERT INTO lin_reg_migration (f_id_brexit_progress, avg_year, avg_immigration, avg_emigration) SELECT f_id_brexit_progress, AVG(year), AVG(immigration), AVG(emigration) FROM migration WHERE f_id_brexit_progress = 3"
c.execute(sql)

sql = "INSERT INTO lin_reg_economic_growth (f_id_brexit_progress, avg_year, avg_germany, avg_united_kingdom) SELECT f_id_brexit_progress, AVG(year), AVG(germany), AVG(united_kingdom) FROM economic_growth WHERE f_id_brexit_progress = 1"
c.execute(sql)

sql = "INSERT INTO lin_reg_economic_growth (f_id_brexit_progress, avg_year, avg_germany, avg_united_kingdom) SELECT f_id_brexit_progress, AVG(year), AVG(germany), AVG(united_kingdom) FROM economic_growth WHERE f_id_brexit_progress = 2"
c.execute(sql)

sql = "INSERT INTO lin_reg_economic_growth (f_id_brexit_progress, avg_year, avg_germany, avg_united_kingdom) SELECT f_id_brexit_progress, AVG(year), AVG(germany), AVG(united_kingdom) FROM economic_growth WHERE f_id_brexit_progress = 3"
c.execute(sql)

conn.commit()
conn.close()

### calculate b and update in tables

In [204]:
conn = sqlite3.connect('brexit.db')
c = conn.cursor()

# immigration
sql = "UPDATE lin_reg_migration SET b_year_immigration = (SELECT (SUM((migration.year - lin_reg_migration.avg_year) * (migration.immigration - lin_reg_migration.avg_immigration)) / SUM((migration.year - lin_reg_migration.avg_year)*(migration.year - lin_reg_migration.avg_year))) AS b_year_immigration FROM migration INNER JOIN lin_reg_migration ON lin_reg_migration.f_id_brexit_progress = migration.f_id_brexit_progress WHERE migration.f_id_brexit_progress = 1) WHERE f_id_brexit_progress = 1"
c.execute(sql)

sql = "UPDATE lin_reg_migration SET b_year_immigration = (SELECT (SUM((migration.year - lin_reg_migration.avg_year) * (migration.immigration - lin_reg_migration.avg_immigration)) / SUM((migration.year - lin_reg_migration.avg_year)*(migration.year - lin_reg_migration.avg_year))) AS b_year_immigration FROM migration INNER JOIN lin_reg_migration ON lin_reg_migration.f_id_brexit_progress = migration.f_id_brexit_progress WHERE migration.f_id_brexit_progress = 2) WHERE f_id_brexit_progress = 2"
c.execute(sql)

sql = "UPDATE lin_reg_migration SET b_year_immigration = (SELECT (SUM((migration.year - lin_reg_migration.avg_year) * (migration.immigration - lin_reg_migration.avg_immigration)) / SUM((migration.year - lin_reg_migration.avg_year)*(migration.year - lin_reg_migration.avg_year))) AS b_year_immigration FROM migration INNER JOIN lin_reg_migration ON lin_reg_migration.f_id_brexit_progress = migration.f_id_brexit_progress WHERE migration.f_id_brexit_progress = 3) WHERE f_id_brexit_progress = 3"
c.execute(sql)

# emigration
sql = "UPDATE lin_reg_migration SET b_year_emigration = (SELECT (SUM((migration.year - lin_reg_migration.avg_year) * (migration.emigration - lin_reg_migration.avg_emigration)) / SUM((migration.year - lin_reg_migration.avg_year)*(migration.year - lin_reg_migration.avg_year))) AS b_year_emigration FROM migration INNER JOIN lin_reg_migration ON lin_reg_migration.f_id_brexit_progress = migration.f_id_brexit_progress WHERE migration.f_id_brexit_progress = 1) WHERE f_id_brexit_progress = 1"
c.execute(sql)

sql = "UPDATE lin_reg_migration SET b_year_emigration = (SELECT (SUM((migration.year - lin_reg_migration.avg_year) * (migration.emigration - lin_reg_migration.avg_emigration)) / SUM((migration.year - lin_reg_migration.avg_year)*(migration.year - lin_reg_migration.avg_year))) AS b_year_emigration FROM migration INNER JOIN lin_reg_migration ON lin_reg_migration.f_id_brexit_progress = migration.f_id_brexit_progress WHERE migration.f_id_brexit_progress = 2) WHERE f_id_brexit_progress = 2"
c.execute(sql)

sql = "UPDATE lin_reg_migration SET b_year_emigration = (SELECT (SUM((migration.year - lin_reg_migration.avg_year) * (migration.emigration - lin_reg_migration.avg_emigration)) / SUM((migration.year - lin_reg_migration.avg_year)*(migration.year - lin_reg_migration.avg_year))) AS b_year_emigration FROM migration INNER JOIN lin_reg_migration ON lin_reg_migration.f_id_brexit_progress = migration.f_id_brexit_progress WHERE migration.f_id_brexit_progress = 3) WHERE f_id_brexit_progress = 3"
c.execute(sql)

#germany
sql = "UPDATE lin_reg_economic_growth SET b_year_germany = (SELECT (SUM((economic_growth.year - lin_reg_economic_growth.avg_year) * (economic_growth.germany - lin_reg_economic_growth.avg_germany)) / SUM((economic_growth.year - lin_reg_economic_growth.avg_year)*(economic_growth.year - lin_reg_economic_growth.avg_year))) AS b_year_germany FROM economic_growth INNER JOIN lin_reg_economic_growth ON lin_reg_economic_growth.f_id_brexit_progress = economic_growth.f_id_brexit_progress WHERE economic_growth.f_id_brexit_progress = 1) WHERE f_id_brexit_progress = 1"
c.execute(sql)

sql = "UPDATE lin_reg_economic_growth SET b_year_germany = (SELECT (SUM((economic_growth.year - lin_reg_economic_growth.avg_year) * (economic_growth.germany - lin_reg_economic_growth.avg_germany)) / SUM((economic_growth.year - lin_reg_economic_growth.avg_year)*(economic_growth.year - lin_reg_economic_growth.avg_year))) AS b_year_germany FROM economic_growth INNER JOIN lin_reg_economic_growth ON lin_reg_economic_growth.f_id_brexit_progress = economic_growth.f_id_brexit_progress WHERE economic_growth.f_id_brexit_progress = 2) WHERE f_id_brexit_progress = 2"
c.execute(sql)

sql = "UPDATE lin_reg_economic_growth SET b_year_germany = (SELECT (SUM((economic_growth.year - lin_reg_economic_growth.avg_year) * (economic_growth.germany - lin_reg_economic_growth.avg_germany)) / SUM((economic_growth.year - lin_reg_economic_growth.avg_year)*(economic_growth.year - lin_reg_economic_growth.avg_year))) AS b_year_germany FROM economic_growth INNER JOIN lin_reg_economic_growth ON lin_reg_economic_growth.f_id_brexit_progress = economic_growth.f_id_brexit_progress WHERE economic_growth.f_id_brexit_progress = 3) WHERE f_id_brexit_progress = 3"
c.execute(sql)

# united kingdom
sql = "UPDATE lin_reg_economic_growth SET b_year_united_kingdom = (SELECT (SUM((economic_growth.year - lin_reg_economic_growth.avg_year) * (economic_growth.united_kingdom - lin_reg_economic_growth.avg_united_kingdom)) / SUM((economic_growth.year - lin_reg_economic_growth.avg_year)*(economic_growth.year - lin_reg_economic_growth.avg_year))) AS b_year_united_kingdom FROM economic_growth INNER JOIN lin_reg_economic_growth ON lin_reg_economic_growth.f_id_brexit_progress = economic_growth.f_id_brexit_progress WHERE economic_growth.f_id_brexit_progress = 1) WHERE f_id_brexit_progress = 1"
c.execute(sql)

sql = "UPDATE lin_reg_economic_growth SET b_year_united_kingdom = (SELECT (SUM((economic_growth.year - lin_reg_economic_growth.avg_year) * (economic_growth.united_kingdom - lin_reg_economic_growth.avg_united_kingdom)) / SUM((economic_growth.year - lin_reg_economic_growth.avg_year)*(economic_growth.year - lin_reg_economic_growth.avg_year))) AS b_year_united_kingdom FROM economic_growth INNER JOIN lin_reg_economic_growth ON lin_reg_economic_growth.f_id_brexit_progress = economic_growth.f_id_brexit_progress WHERE economic_growth.f_id_brexit_progress = 2) WHERE f_id_brexit_progress = 2"
c.execute(sql)

sql = "UPDATE lin_reg_economic_growth SET b_year_united_kingdom = (SELECT (SUM((economic_growth.year - lin_reg_economic_growth.avg_year) * (economic_growth.united_kingdom - lin_reg_economic_growth.avg_united_kingdom)) / SUM((economic_growth.year - lin_reg_economic_growth.avg_year)*(economic_growth.year - lin_reg_economic_growth.avg_year))) AS b_year_united_kingdom FROM economic_growth INNER JOIN lin_reg_economic_growth ON lin_reg_economic_growth.f_id_brexit_progress = economic_growth.f_id_brexit_progress WHERE economic_growth.f_id_brexit_progress = 3) WHERE f_id_brexit_progress = 3"
c.execute(sql)

conn.commit()
conn.close()

### calculate a and update in tables

In [205]:
conn = sqlite3.connect('brexit.db')
c = conn.cursor()

# immigration
sql = "UPDATE lin_reg_migration SET a_year_immigration = (SELECT ((lin_reg_migration.avg_immigration) - (lin_reg_migration.b_year_immigration * lin_reg_migration.avg_year)) FROM lin_reg_migration WHERE f_id_brexit_progress = 1) WHERE f_id_brexit_progress = 1"
c.execute(sql)

sql = "UPDATE lin_reg_migration SET a_year_immigration = (SELECT ((lin_reg_migration.avg_immigration) - (lin_reg_migration.b_year_immigration * lin_reg_migration.avg_year)) FROM lin_reg_migration WHERE f_id_brexit_progress = 2) WHERE f_id_brexit_progress = 2"
c.execute(sql)

sql = "UPDATE lin_reg_migration SET a_year_immigration = (SELECT ((lin_reg_migration.avg_immigration) - (lin_reg_migration.b_year_immigration * lin_reg_migration.avg_year)) FROM lin_reg_migration WHERE f_id_brexit_progress = 3) WHERE f_id_brexit_progress = 3"
c.execute(sql)

# emigration
sql = "UPDATE lin_reg_migration SET a_year_emigration = (SELECT ((lin_reg_migration.avg_emigration) - (lin_reg_migration.b_year_emigration * lin_reg_migration.avg_year)) FROM lin_reg_migration WHERE f_id_brexit_progress = 1) WHERE f_id_brexit_progress = 1"
c.execute(sql)

sql = "UPDATE lin_reg_migration SET a_year_emigration = (SELECT ((lin_reg_migration.avg_emigration) - (lin_reg_migration.b_year_emigration * lin_reg_migration.avg_year)) FROM lin_reg_migration WHERE f_id_brexit_progress = 2) WHERE f_id_brexit_progress = 2"
c.execute(sql)

sql = "UPDATE lin_reg_migration SET a_year_emigration = (SELECT ((lin_reg_migration.avg_emigration) - (lin_reg_migration.b_year_emigration * lin_reg_migration.avg_year)) FROM lin_reg_migration WHERE f_id_brexit_progress = 3) WHERE f_id_brexit_progress = 3"
c.execute(sql)

# germany
sql = "UPDATE lin_reg_economic_growth SET a_year_germany = (SELECT ((lin_reg_economic_growth.avg_germany) - (lin_reg_economic_growth.b_year_germany * lin_reg_economic_growth.avg_year)) FROM lin_reg_economic_growth WHERE f_id_brexit_progress = 1) WHERE f_id_brexit_progress = 1"
c.execute(sql)

sql = "UPDATE lin_reg_economic_growth SET a_year_germany = (SELECT ((lin_reg_economic_growth.avg_germany) - (lin_reg_economic_growth.b_year_germany * lin_reg_economic_growth.avg_year)) FROM lin_reg_economic_growth WHERE f_id_brexit_progress = 2) WHERE f_id_brexit_progress = 2"
c.execute(sql)

sql = "UPDATE lin_reg_economic_growth SET a_year_germany = (SELECT ((lin_reg_economic_growth.avg_germany) - (lin_reg_economic_growth.b_year_germany * lin_reg_economic_growth.avg_year)) FROM lin_reg_economic_growth WHERE f_id_brexit_progress = 3) WHERE f_id_brexit_progress = 3"
c.execute(sql)

# united kingdom
sql = "UPDATE lin_reg_economic_growth SET a_year_united_kingdom = (SELECT ((lin_reg_economic_growth.avg_united_kingdom) - (lin_reg_economic_growth.b_year_united_kingdom * lin_reg_economic_growth.avg_year)) FROM lin_reg_economic_growth WHERE f_id_brexit_progress = 1) WHERE f_id_brexit_progress = 1"
c.execute(sql)

sql = "UPDATE lin_reg_economic_growth SET a_year_united_kingdom = (SELECT ((lin_reg_economic_growth.avg_united_kingdom) - (lin_reg_economic_growth.b_year_united_kingdom * lin_reg_economic_growth.avg_year)) FROM lin_reg_economic_growth WHERE f_id_brexit_progress = 2) WHERE f_id_brexit_progress = 2"
c.execute(sql)

sql = "UPDATE lin_reg_economic_growth SET a_year_united_kingdom = (SELECT ((lin_reg_economic_growth.avg_united_kingdom) - (lin_reg_economic_growth.b_year_united_kingdom * lin_reg_economic_growth.avg_year)) FROM lin_reg_economic_growth WHERE f_id_brexit_progress = 3) WHERE f_id_brexit_progress = 3"
c.execute(sql)

conn.commit()
conn.close()